#controlsSection {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
    border-bottom: 2px solid #12113a;
}

#cashflowForm {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#cashflowForm input {
    border: none;
    background-color: #dedede;
    color: #12113a;
    font-size: 1.2rem;
    padding: .2rem;
    border-radius: 6px;
}

#cashflowForm>input[type="text"],
#cashflowForm>input[type="number"] {}

#cashflowForm input[type="radio"] {}


#cashflowForm>input[type="submit"] {
    background-color: #4ca065;
    color: #ebebff;
    cursor: pointer;
    opacity: .8;
    transition: opacity .2s linear;
}

#cashflowForm>input[type="submit"]:hover {
    opacity: 1;
}

#mainInput {
    display: flex;
    justify-content: center;
    gap: .6rem;
}

#mainInput>* {
    width: 50%;
}

#radioGroup {
    padding: .4rem 0;
    display: flex;
    justify-content: flex-start;
    gap: .6rem;
}

#radioItem {
    display: flex;

}

#cashflowList {
    display: flex;
    flex-direction: column;
}

.cashflowListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cashflowListItem:not(:last-child) {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}

.cashflowListItem:last-child {
    margin-bottom: 2rem;

}

.dataSection>*:nth-child(1) {
    font-weight: bold;
    letter-spacing: 1px;
}

.dataSection>*:nth-child(3) {
    font-size: .8rem;
}

.cashflowIncome {
    font-weight: bold;
    color: #26c556;
}

.cashflowExpense {
    font-weight: bold;
    color: #e95a5a;
}

.cashflowRecordControls {
    display: flex;
    gap: .8rem
}

.controlButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    opacity: .7;
    transition: opacity .2s linear;
    cursor: pointer;
}

.controlButton:hover {
    opacity: 1;
}