#container {
	background-color: #12113a;
	color: #ebebff;
	border-radius: 20px 0 0 20px;
	padding-inline: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#title {
	padding: 0.4rem 1rem;
	margin-bottom: 1.4rem;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

	flex: auto;
	display: flex;
	flex-direction: column;
}

ul:last-child {
	justify-content: space-around;
}

.navlink {
	display: block;
	text-decoration: none;
	color: inherit;
	margin-bottom: .4rem;
	padding: 0.4rem 1rem;
	border-radius: 10px;
	border: 0;
	transition: background-color .2s linear
}

.navlink:visited {
	color: inherit;
}

#projectSelector {
	width: 100%;
	font-style: italic;
	background-color: #262551;
	color: #cecee1;
	border-color: #12113a;
	cursor: pointer;
}

#projectSelector>option {
	font-style: normal;
}