* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #dedede;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;

	min-width: 320px;
	min-height: 100vh;
}

#root {
	margin-inline: auto;
	margin-block: auto;
}

#root>section {
	display: flex;
	max-width: 600px;
	height: clamp(60vh, 600px, 99vh);
}

.active:where(:not(:has(.linkWithIcon))) {
	background-color: #2f2f5b;
}


.linkWithIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: spin-backward 1s ease-in-out forwards;
	transform-origin: 50% 50%;

}

.active .linkWithIcon {
	animation: spin-forward .6s ease-in-out forwards;
}


@keyframes spin-forward {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes spin-backward {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(0deg);
	}
}